name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22'

    - name: Build the application
      run: go build -o go-web-app

    - name: Run tests
      run: go test -v ./...

  code-quality:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22'

    - name: Run Go lint
      uses: golangci/golangci-lint-action@v6
      with:
        version: v1.56.2

  push:
    runs-on: ubuntu-latest
    needs: [build, code-quality]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
    
    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ secrets.DOCKER_HUB_USERNAME }}/go-web-app:${{ github.run_id}}

  update-newtag-in-helm-chart:
    runs-on: ubuntu-latest
    needs: push

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Update Helm chart with new image tag
      run: |
        NEW_TAG=${{ github.run_id }}
        sed -i "s/tag: \".*\"/tag: \"${NEW_TAG}\"/" helm/go-web-app-chart/values.yaml

    - name: Commit and push changes
      run: |
        git config --global user.name "Mohamed-Ismail-Dev"
        git config --global user.email "mhdismail.er@gmail.com"
        git add helm/go-web-app-chart/values.yaml
        git commit -m "Update Helm chart with new image tag ${{ github.run_id }}"
        git push origin main